<%= form_with(url: "#", local: true) do |form| %>
  <% if flash[:alert] %>
    <div id="error_explanation">
    <ul>
        <% flash.each do |key, value| %>
            <%= content_tag :li, value, class: "flash #{key}" %>
        <% end %>

    </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email, t('label.email') %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :password, t('label.password') %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit t('button.save') %>
  </div>
<% end %>
