
<h1>
  <%= t('title.links') %>
  <small>[<%= link_to t('button.newLink'), new_link_path %>]</small>  
</h1>

<table>
  <thead>
    <tr>
      <th><%= t('th.number') %></th>
      <th><%= t('th.title') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% cnt = 1 %>
    <% @links.each do |link| %>
      <tr>
        <td><%= cnt %></td>
        <td><%= link.title %></td>
        <td><%= link_to t('button.analytics'), link_path(link.uuid)  %></td>
        <td><%= link_to t('button.edit'), edit_link_path(link.uuid) %></td>
        <td><%= link_to t('button.destroy'), link_path(link.uuid), method: :delete, data: { confirm: t('alert.confirm') } %></td>
        <% cnt += 1 %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


